<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% extends 'base.html' %} {% block main_content %}
    <!-- 注意html文件要用引号 -->
    <form method="POST" action="">
      <!-- 注意不要忘记 -->
      <label for="message"> what do you want?</label>
      <input type="text" name="message" id="text" />
      <input type="submit" />
    </form>
    {{error}} {% endblock %}
  </body>
</html>
